**/__pycache__/**
**/wandb/**
**/.vscode/**
*.out
*.err
*.zip
*.tar
*.pth
stdout_train.txt
stdout_eval.txt
stdout_visualize.txt
hostfile
**/olds/**
**/old/**
output/**
!output/**/*.py
*.pt
*.txt
miccai_generate_Dir
generate.py
visualzie.py